body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset{
    border: 3px solid dodgerblue;   
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox{
    position: relative;

}

.inputUser{
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput{ /*animação das labels - nessa parte */
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;/*qualquer lugar que eu clicar dentro do input, ele vai executar a ação*/
    transition: 5px; /*transição - para criação de efeitos de animação personalizado*/

}

/* Quando clicar no input eu quero que a label vai para cima do imput - por isso a ação é no input*/

.inputUser:focus~.labelinput, /*executar uma ação na nossa label*/
.inputUser:valid~.labelinput{ /*qdo o input tiver válido, eu quero que ele execute essa ação para a albel - a informação irá permanecer no input, senão irá ficar por cima*/

    top: -20px;
    font-size: 20px;
    color: dodgerblue;

}

